//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_authToken=${NPM_TOKEN}
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:username=readonly-bare_259
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:always-auth=true
